
@media only screen and (max-width:1440px){

img.illo-apps, .illo-code,.illo-phone{
	width:120px;
	height:120px;
	margin-top:20px;
-webkit-animation-fill-mode:both;
animation-fill-mode:both;
-webkit-animation:sinusoid 3s ease infinite;
animation:sinusoid 3s ease infinite}

.carbody{
	width:180px;
	margin-left:70px;
	margin-top:200px;
	position:absolute;
}
.illo-apps{
	position:absolute;
	left:280px;
	
-webkit-animation-delay:-.2s;
animation-delay:-.2s
}

.illo-code{
	position:absolute;
	left:240px;
-webkit-animation-delay:-.4s;
animation-delay:-.4s
}

.illo-phone{
	position:absolute;
	left:200px;
-webkit-animation-delay:-.6s;
animation-delay:-.6s
}

@-webkit-keyframes sinusoid{
0%,50%{
-webkit-transform:translateX(0);
transform:translateX(0);
-webkit-animation-timing-function:cubic-bezier(.2,.25,.55,1);
animation-timing-function:cubic-bezier(.2,.25,.55,1)
}

25%{
-webkit-transform:translateX(-7px);
transform:translateX(-7px);
-webkit-animation-timing-function:cubic-bezier(.45,0,.8,.75);
animation-timing-function:cubic-bezier(.45,0,.8,.75)
}
75%{
-webkit-transform:translateX(7px);
transform:translateX(7px);
-webkit-animation-timing-function:cubic-bezier(.45,0,.8,.75);
animation-timing-function:cubic-bezier(.45,0,.8,.75)
}
to{
-webkit-transform:translateX(0);
transform:translateX(0)
}}

@keyframes sinusoid{
0%,50%{
-webkit-transform:translateX(0);
transform:translateX(0);
-webkit-animation-timing-function:cubic-bezier(.2,.25,.55,1);
animation-timing-function:cubic-bezier(.2,.25,.55,1)
}
25%{
-webkit-transform:translateX(-7px);
transform:translateX(-7px);
-webkit-animation-timing-function:cubic-bezier(.45,0,.8,.75);
animation-timing-function:cubic-bezier(.45,0,.8,.75)
}
75%{
-webkit-transform:translateX(7px);
transform:translateX(7px);
-webkit-animation-timing-function:cubic-bezier(.45,0,.8,.75);
animation-timing-function:cubic-bezier(.45,0,.8,.75)
}
to{
-webkit-transform:translateX(0);
transform:translateX(0)
}}