@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);



#dropdown-menu-2btn-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-0 .navbar-brand a {
  font-family: 'Titillium Web', sans-serif;font-size:17px;
}
#dropdown-menu-2btn-0 .nav .link,
#dropdown-menu-2btn-0 .dropdown-item {
  font-size: 1em;
  color: #f97352;
  font-family: 'Lato', sans-serif;
}
#dropdown-menu-2btn-0 .navbar,
#dropdown-menu-2btn-0 .dropdown-menu {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
  background: #ffffff;
}
#dropdown-menu-2btn-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-0 .dropdown-menu a:hover,
#dropdown-menu-2btn-0 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-0 .navbar-toggler {
  color: #f97352;
}
#dropdown-menu-2btn-0 .btn {
  font-family: 'Titillium Web', sans-serif;
}
#footer1-8 P {
  color: #ffffff;
  text-align: center;
}



#dropdown-menu-2btn-e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-e .navbar-brand a {
  font-family: 'Titillium Web', sans-serif;
}
#dropdown-menu-2btn-e .nav .link,
#dropdown-menu-2btn-e .dropdown-item {
  font-size: 1em;
  color: #f97352;
  font-family: 'Lato', sans-serif;
}
#dropdown-menu-2btn-e .navbar,
#dropdown-menu-2btn-e .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-e .dropdown-menu a:hover,
#dropdown-menu-2btn-e .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-e .navbar-toggler {
  color: #f97352;
}
#dropdown-menu-2btn-e .btn {
  font-family: 'Titillium Web', sans-serif;
}
#footer1-f P {
  color: #ffffff;
  text-align: center;
}



#dropdown-menu-2btn-9 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-9 .navbar-brand a {
  font-family: 'Titillium Web', sans-serif;
}
#dropdown-menu-2btn-9 .nav .link,
#dropdown-menu-2btn-9 .dropdown-item {
  font-size: 1em;
  color: #f97352;
  font-family: 'Lato', sans-serif;
}
#dropdown-menu-2btn-9 .navbar,
#dropdown-menu-2btn-9 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-9 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-9 .dropdown-menu a:hover,
#dropdown-menu-2btn-9 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-9 .navbar-toggler {
  color: #f97352;
}
#dropdown-menu-2btn-9 .btn {
  font-family: 'Titillium Web', sans-serif;
}
#footer1-a P {
  color: #ffffff;
  text-align: center;
}
#header3-b H3 {
  text-align: center;
}
#msg-box5-c .mbr-header__text {
  color: #ffffff;
}
#msg-box5-c .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-c .mbr-article {
  color: #ffffff;
}
#msg-box5-d .mbr-header__text {
  color: #ffffff;
}
#msg-box5-d .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-d .mbr-article {
  color: #ffffff;
}



#header3-t H3 {
  text-align: center;
}
#msg-box4-s .mbr-header__text {
  color: #ffffff;
}
#msg-box4-s .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-s .mbr-article {
  color: #ffffff;
}
#dropdown-menu-2btn-j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-j .navbar-brand a {
  font-family: 'Titillium Web', sans-serif;
}
#dropdown-menu-2btn-j .nav .link,
#dropdown-menu-2btn-j .dropdown-item {
  font-size: 1em;
  color: #f97352;
  font-family: 'Lato', sans-serif;
}
#dropdown-menu-2btn-j .navbar,
#dropdown-menu-2btn-j .dropdown-menu {
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
#dropdown-menu-2btn-j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-j .dropdown-menu a:hover,
#dropdown-menu-2btn-j .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-j .navbar-toggler {
  color: #f97352;
}
#dropdown-menu-2btn-j .btn {
  font-family: 'Titillium Web', sans-serif;
}
#footer1-k P {
  color: #ffffff;
  text-align: center;
}
#msg-box4-p .mbr-header__text {
  color: #ffffff;
}
#msg-box4-p .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-p .mbr-article {
  color: #ffffff;
}
#msg-box4-v .mbr-header__text {
  color: #ffffff;
}
#msg-box4-v .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-v .mbr-article {
  color: #ffffff;
}
#msg-box4-w .mbr-header__text {
  color: #ffffff;
}
#msg-box4-w .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-w .mbr-article {
  color: #ffffff;
}
#msg-box4-x .mbr-header__text {
  color: #ffffff;
}
#msg-box4-x .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-x .mbr-article {
  color: #ffffff;
}
#header3-u H3 {
  text-align: center;
}
#msg-box4-m .mbr-header__text {
  color: #ffffff;
}
#msg-box4-m .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-m .mbr-article {
  color: #ffffff;
}
